:root {
    --font: 'Changa', sans-serif;
    --color: #202020;
    --white: #d1f8ff;
    --text: 2px 1px #011116;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    font-family: var(--font);
    color: var(--white);
}

.navbar {
    width: 100%;
    background-color: var(--color);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar a {
    font-size: 25px;
    color: var(--white);
    text-shadow: var(--text);
    border-radius: 20px;
    padding: 0px 15px;
    margin: 15px;
}

.navbar a:hover {
    background-color: #00394e5d;
    transition: background-color ease-out 0.5s;
}

.navbar a:not(:hover) {
    transition: background-color ease-out 0.3s;
}

.navbar div {
    display: flex;
}

.pirveli {
    width: fit-content;
    text-align: center;
    background-color: #3367d6;
    border-bottom-right-radius: 80px;
    position: absolute;
    top: 0;
}

.meore {
    width: fit-content;
    text-align: center;
    background-color: #3367d6;
    border-bottom-right-radius: 80px;
    position: absolute;
    top: 0;
}

.homecontact {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient( var(--color), #0365837a), url(a9ft0vx4.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 3px solid var(--white);
}

.home {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient( var(--color), #0365837a), url(background.jpeg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 3px solid var(--white);
}

.home div:nth-child(1) {
    color: var(--white);
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 100px;
    font-size: 40px;
}

.home div:nth-child(1) hr {
    width: 70vw;
    margin: 30px 0px 100px 0px;
}

.home>div:nth-child(2) {
    max-width: 600px;
    max-height: 200px;
    background-color: #070607bd;
    border-radius: 10px;
    display: flex;
}

.home div img {
    padding: 25px;
}

.offer {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient( #000000dc, #291a1ae1), url(aifon14.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 3px solid var(--white);
}

.spider {
    background-color: #4747474f;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 50px;
}

iframe {
    padding: 50px;
    width: 580px;
    height: 240px;
}

.spider div {
    padding: 50px 50px 50px 0px;
    display: flex;
    flex-direction: column;
    color: var(--white);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.spider div h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.spider div p {
    font-size: 14px;
}

li {
    display: flex;
    padding: 15px;
    color: white;
}

.pirveli a {
    color: #000000;
    border-radius: 10px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.pirveli a:hover {
    background-color: rgba(189, 7, 7, 0.774);
    color: white;
}

.logo {
    margin: auto;
    width: 150px;
    height: 150px;
    background-color: orange;
    border-radius: 50%;
    margin-top: 60px;
}

.dropdown {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: black;
}

.dropdown-content {
    display: none;
    position: absolute;
    color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px hsla(0, 95%, 43%, 0.76);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
    background-color: #3367d6;
    color: black;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.text {
    color: var(--white);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    flex-direction: column;
    padding: 25px 25px 25px 0px;
}

.text h1 {
    margin-bottom: 10px;
    font-size: 26px;
}

.text p {
    margin-top: 15px;
}

.text a {
    text-align: center;
    margin-top: 15px;
    background-color: #00394e33;
}

.text a:hover {
    background-color: #00394e6e;
}

.container {
    display: flex;
    width: 100%;
    height: 500px;
    background-color: #2B7A78;
    flex-wrap: wrap;
}

.box {
    flex: 1;
    border-radius: 30px;
    padding: 10px;
}

.box.video {
    flex: 2;
}

iframe {
    width: 100%;
    height: 100%;
}

.list {
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.list>div {
    background-color: #1606156b;
    display: flex;
    flex-grow: 1;
    flex-basis: 800px;
    margin: 20px;
    max-height: 250px;
    min-width: 600px;
}

.list img {
    width: 200px;
    padding: 20px;
}

.AdDiv {
    margin: auto;
    border-style: solid;
    width: 100%;
    height: 20px;
    border-color: transparent;
    border-radius: 30px;
    margin-bottom: 50px;
    background-image: linear-gradient(#3AAFA9)
}

form {
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
}

input {
    margin-top: 10px;
    padding: 10px;
    outline: none;
    border: none;
    font-family: var(--font);
}

input[type="submit"] {
    background-color: #830303e1;
    color: var(--white);
    font-family: var(--font);
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #830303;
}

table {
    width: 100%;
    margin: 20px 20px 20px 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--white);
    text-align: center;
}

td {
    padding: 10px 30px 10px 30px;
}

table tr:first-child td {
    font-size: 28px;
    border-bottom: 1px solid;
}

table tr:last-child {
    font-size: 26px;
    text-align: center;
}

table a {
    padding: 0px 30px 0px 30px;
    background-color: #e0e0db6c;
}

table a:hover {
    background-color: #ffffff9c;
}

ul,
ol {
    display: flex;
    list-style: none;
    margin-top: 15px;
}

ul li {
    font-size: 20px;
}

li {
    margin-right: 30px;
}

.contact {
    width: 100%;
    background-color: var(--color);
    color: var(--white);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.contact h1 {
    margin: 30px 0px 10px 0px;
}

.contact>div {
    display: flex;
}

.contact p {
    font-size: 12px;
    margin: 50px 0px 30px 50px;
}

input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    font-size: 16px;
    background-color: #f2f2f2;
}

input[type="email"] {
    padding: 10px;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    font-size: 16px;
    background-color: #f2f2f2;
}

.button {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 30px;
    right: 30px;
}

.phone {
    width: 100%;
    background-image: linear-gradient( to top, #070706, #0a080167), url(store.jpg);
    background-size: cover;
    background-position: top;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 3px solid var(--white);
}

.phone h1 {
    color: var(--white);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 50px 0px 30px 0px;
}

@media (max-width: 1024px) {
    .pirveli {
        height: unset;
    }
    .container {
        margin-top: 50px;
    }
    .box {
        flex-direction: column;
        margin-bottom: 50px;
    }
    .box.video {
        padding: 0px 0px 20px 0px;
    }
}

@media (max-width: 900px) {
    .phone {
        background-position: left;
    }
    .list {
        width: 100%;
    }
    .list img {
        margin: auto;
    }
    .list>div {
        flex-direction: column;
        min-width: unset;
        max-height: unset;
    }
    table {
        margin: 0px 20px 20px 0px;
    }
}

@media (max-width: 730px) {
    .navbar {
        flex-direction: column;
    }
    .navbar a {
        font-size: 16px;
    }
    .home div:first-child h1 {
        font-size: 40px;
    }
    .home div:last-child h1 {
        font-size: 20px;
    }
}

@media (max-width: 660px) {
    iframe {
        width: 270px;
        height: 152px;
    }
    .contact {
        font-size: 12px;
    }
    .contact a {
        font-size: 15px;
    }
    .contact p {
        font-size: 8px;
    }
}

@media (max-width: 450px) {
    .home {
        height: unset;
    }
    .navbar div {
        flex-direction: column;
        text-align: center;
    }
}

.button {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 30px;
    right: 30px;
}